@import '../../../styles/var.scss';

.pant-data-list {
  &__filter {
    margin-left: $padding-xs;
    line-height: $button-small-height;
    cursor: pointer;
    > * {
      vertical-align: middle;
    }

    &__popup {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__list {
      flex: 1;
      overflow-y: auto;
    }
  }
}
