@import '../styles/var.scss';
@import '../styles/mixins/hairline.scss';

.pant-data-list {
  background-color: $white;

  &__tips {
    text-align: center;
    padding: $padding-md;
    color: $gray-6;
  }

  &__records {
    padding: 0 $padding-xs;
  }

  &__record {
    position: relative;
    display: flex;
    padding: $padding-base 0;

    &:not(:last-child)::after {
      @include hairline-bottom($cell-border-color, 0, 0);
    }

    &__fields-wrapper {
      flex: 1;
      padding: 0 $padding-base;
      max-width: 100%;
    }
    &__field {
      display: flex;
      padding: $padding-base;
      font-size: $font-size-md;
    }
    &__title {
      width: 35%;
      color: $gray-6;
    }
    &__value {
      width: 65%;
    }
    &__expand {
      font-size: $font-size-md;
      line-height: 20px;
      display: inline-block;
      margin-left: $padding-base;
      margin-bottom: $padding-base;
      color: $gray-7;
      cursor: pointer;
      > * {
        vertical-align: middle;
      }
    }
  }
}
