@import '../styles/var.scss';
@import '../styles/mixins/ellipsis.scss';
@import '../styles/mixins/hairline.scss';

.pant-searchable-picker {
  position: relative;
  background-color: $picker-background-color;
  user-select: none;
  display: flex;
  flex-direction: column;

  &--fullscreen {
    height: 100%;
    .pant-searchable-picker__content-wrapper {
      max-height: unset;
    }
  }

  &__content-wrapper {
    flex: 1;
    max-height: 260px;
    padding: $searchable-picker-content-padding;
  }

  &__content {
    height: 100%;
  }

  &__msg {
    font-size: $searchable-picker-item-font-size;
    color: $searchable-picker-msg-color;
    padding: $searchable-picker-msg-padding;
    text-align: center;
  }

  &__item {
    color: $searchable-picker-item-color;
    font-size: $searchable-picker-item-font-size;
    line-height: $searchable-picker-item-line-height;
    padding: $searchable-picker-item-padding;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    &:active {
      background-color: $searchable-picker-item-active-color;
    }
    &:not(:last-child)::after {
      @include hairline-bottom($searchable-picker-item-border-color, 0, 0);
    }
    > span:first-child {
      @include ellipsis();
      flex: 1;
      margin-right: $padding-base;
    }
    .pant-icon {
      color: $gray-5;
    }
    &--selected {
      color: $searchable-picker-item-selected-color;
      .pant-icon {
        color: $blue;
      }
    }
  }

  .pant-search .pant-loading {
    margin-right: $padding-base;
  }
}

.pant-popup {
  .pant-searchable-picker__content-wrapper {
    flex: unset;
    height: 260px;
  }
  .pant-searchable-picker--fullscreen {
    .pant-searchable-picker__content-wrapper {
      flex: 1;
      height: unset;
    }
  }
}
