@import '../styles/var.scss';

.pant-search-picker {
  position: relative;
  background-color: $picker-background-color;
  user-select: none;

  &--fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    .pant-search-picker__content {
      flex: 1;
      max-height: unset;
    }
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $picker-toolbar-height;
    &--title {
      .pant-search-picker__title {
        max-width: unset;
        flex: 1;
      }
    }
  }

  &__cancel,
  &__confirm {
    height: 100%;
    padding: $picker-action-padding;
    font-size: $picker-action-font-size;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active {
      opacity: $active-opacity;
    }
  }

  &__confirm {
    color: $picker-confirm-action-color;
  }

  &__cancel {
    color: $picker-cancel-action-color;
  }

  &__title {
    max-width: 50%;
    font-weight: $font-weight-bold;
    font-size: $picker-title-font-size;
    line-height: $picker-title-line-height;
    text-align: center;
  }

  &__content {
    max-height: 260px;
    overflow-y: auto;
  }
}

.pant-popup {
  .pant-search-picker__content {
    height: 260px;
  }
  .pant-search-picker--fullscreen {
    .pant-search-picker__content {
      height: unset;
    }
  }
}
