@import '../../../styles/var.scss';
@import '../../../styles/mixins/hairline.scss';

.pant-data-list {
  &__pagination {
    background-color: $white;
    font-size: $font-size-md;
    position: relative;
    padding: $padding-xs;
    display: flex;
    align-items: center;

    &__text {
      flex: 1;
      text-align: center;
      font-size: $data-list-pageable-text-font-size;
    }

    &__prev, &__next {
      width: $data-list-pageable-button-width;
      height: $data-list-pageable-button-height;
      font-size: $data-list-pageable-button-font-size;
    }
  }
}
