/**
 * Entry of basic styles
 */

@import './var.scss';
@import './ellipsis.scss';
@import './clearfix.scss';
@import './hairline.scss';
@import './overflow.scss';

[class*='pant-'] {
  &:focus {
    outline: none;
  }
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
  * {
    box-sizing: border-box;
  }
}
