@import '../styles/var.scss';

@mixin seperator($sep) {
  &::after {
    content: $sep;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 18px;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    text-align: center;
    color: $text-color;
  }
}

.pant-datetime-picker {
  .pant-picker__columns {
    padding: 0 16px;
  }

  &--seperator {
    .pant-picker__toolbar {
      position: relative;
      z-index: 1;
      background-color: $white;
    }
    .pant-picker-column {
      position: relative;
      overflow: visible;
    }
    &.pant-datetime-picker--datetime, &.pant-datetime-picker--date {
      .pant-picker-column:first-child {
        @include seperator('-');
      }
      .pant-picker-column:nth-child(2) {
        @include seperator('-');
      }
    }
    &.pant-datetime-picker--datetime {
      .pant-picker-column:first-child {
        flex: 1.2;
      }
      .pant-picker-column:nth-child(4) {
        @include seperator(':');
      }
      &.pant-datetime-picker--seconds {
        .pant-picker-column:first-child {
          flex: 1.3;
        }
        .pant-picker-column:nth-child(5) {
          @include seperator(':');
        }
      }
    }
    &.pant-datetime-picker--time {
      .pant-picker-column:first-child {
        @include seperator(':');
      }
      &.pant-datetime-picker--seconds {
        .pant-picker-column:nth-child(2) {
          @include seperator(':');
        }
      }
    }
  }
}
