@import '../../../styles/var.scss';

.pant-data-list {
  &__sort {
    margin-left: $padding-xs;
    line-height: $button-small-height;
    cursor: pointer;
    > * {
      vertical-align: middle;
    }

    &__list {
      max-height: 300px;
    }
  }
}
