@import '../styles/var.scss';
@import '../styles/mixins/ellipsis.scss';

.pant-cascader {
  background-color: $picker-background-color;
  user-select: none;
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    flex: 1;
    overflow: hidden;
    .pant-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -15px;
    }
  }

  &__columns {
    position: absolute;
    height: 100%;
    display: flex;
    transition: transform .2s;
  }

  &__column {
    height: 100%;
    overflow-y: auto;
    position: relative;
    border-right: 1px solid $border-color;
    &:first-child {
      .pant-cascader__item {
        padding-left: $padding-md;
      }
    }
    &:last-child {
      border-right: none;
      .pant-cascader__item {
        padding-right: $padding-md * 2;
      }
      .pant-cascader__item-selection {
        right: $padding-md;
      }
    }
  }

  &__item {
    @include ellipsis();
    position: relative;
    padding: 0 $padding-xs;
    font-size: $font-size-md;
    line-height: 36px;
    cursor: pointer;
    user-select: none;
    &:active {
      background-color: $active-color;
    }
    &--selected {
      background-color: $active-color;
    }
  }

  &__item-selection {
    position: absolute;
    right: $padding-xs;
    top: 0;
    color: $gray-6;
    display: flex;
    align-items: center;
    height: 100%;
    &--selected {
      color: $blue;
    }
  }

  &__children-selected {
    border-bottom: 5px solid $blue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: -5px;
    top: 0;
    transform: rotate(-45deg);
  }

  &__back, &__forward {
    position: absolute;
    left: $padding-xs;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 40px;
    background-color: $white;
    color: $gray-6;
    cursor: pointer;
  }
  &__forward {
    left: auto;
    right: $padding-xs;
  }

  .pant-popup-toolbar:first-child {
    border-bottom: 1px solid $border-color;
  }
  .pant-popup-toolbar:last-child {
    border-top: 1px solid $border-color;
  }
}

.pant-popup {
  .pant-cascader__content {
    height: 260px;
    flex: unset;
  }
}
