@import '../../styles/var.scss';

.demo-sticky {
  padding: $padding-md;
  background-color: $gray-1;
  height: 2000px;
  > section {
    margin-bottom: $padding-lg * 2;
  }
  .sticky-container {
    background-color: #fff;
    &--scroll {
      position: relative;
      overflow-y: scroll;
    }
    &__content {
      height: 400px;
    }
  }
}
